# Requirements for the Spotify Visualizer project (so far)

spotipy==2.24.0 # For interacting with the Spotify API
python-dotenv==1.0.1 # For managing environment variables
pandas==2.14.0 # For data manipulation and analysis
numpy==1.26.4 # For numerical operations
matplotlib==3.9.2 # For data visualization
seaborn==0.12.3 # For statistical data visualization
flask==3.0.3 # For creating the web application
flask-cors==4.1.2 # For handling Cross-Origin Resource Sharing (CORS)
requests==2.31.0 # For making HTTP requests